# Shell alias
# PS1="[\u@\h \w]$ " # BASH-SHELL only
set     red="%{\033[1;31m%}"
set   green="%{\033[0;32m%}"
set  yellow="%{\033[1;33m%}"
set    blue="%{\033[1;34m%}"
set magenta="%{\033[1;35m%}"
set    cyan="%{\033[1;36m%}"
set   white="%{\033[0;37m%}"
set     end="%{\033[0m%}"

set prompt = '[%n@%m %~]$ '
alias gvim "/usr/bin/X11/gvim -p"
alias gvimdiff "/usr/bin/X11/gvimdiff"
alias c "clear"
alias cls "clear;ls"
alias b "cd ../../../../../../"
alias ll "ls -l"

#Path Aliases
setenv DACHARIY_HOME ""
setenv DA_P4_AREA ""
setenv DA_ICM_AREA ""
setenv DACHARIY_HOME ""

alias go2work "cd $DACHARIY_HOME"
alias cdp4 "cd $DA_P4_AREA"
alias cdicm "cd $DA_ICM_AREA"

alias xdl "xrandr -s 4"
alias xds "xrandr -s 6"

alias gvim_scrap "/usr/bin/X11/gvim -p $DACHARIY_HOME/scrap.txt"

#Perforce Alias
alias p4d "p4 diff -se ..."
alias p4s "p4 sync ..."
alias p4r "p4 resolve ..."
alias p4o "p4 opened"

alias rdve 'arc submit --I lsfq=lxverdi "node[memory>=64000]" -- dve -full64'
alias rverdi 'arc submit --I lsfq=lxverdi "node[memory>=64000]" -- verdi -nologo -ssf'
